<h1>Edit Shark Details</h1>

<form action="/sharks/<%= @shark.id %>" method="POST">
	<input type="hidden" name="_method" value="PUT">

	<div>
		<label>Name</label>
		<input type="text" name="name" placeholder="Name" value="<%= @shark.name %>">
	</div>

	<div>
		<label>Length</label>
		<input type="text" name="length" placeholder="Length" value="<%= @shark.length %>">
	</div>

	<div>
		<label>Habitat</label>
		<input type="text" name="habitat" placeholder="Habitat" value="<%= @shark.habitat %>">
	</div>

	<div>
		<label>Species</label>
		<input type="text" name="species" placeholder="Species" value="<%= @shark.species %>">
	</div>

	<div>
		<label>Conservation Status</label>
		<input type="text" name="status" placeholder="Conservation Status" value="<%= @shark.status %>">
	</div>

	<div>
    	<input type="submit" value="Update shark">
  	</div>
</form>