<h1><%= @shark.name %></h1>	

	<div>
		<ul>
			<li>Database ID: <%= @shark.id %></li>
			<li>Maximum length of shark: <%= @shark.length %></li>
			<li>Sharks preferred habitat: <%= @shark.habitat %></li>
			<li>Species name: <%= @shark.species %></li>
			<li>Conservation status: <%= @shark.status %></li>
		</ul>
	</div>